//
//  Secret.xcconfig
//  GitSpace
//
//  Created by 이승준 on 2023/02/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PUSH_NOTIFICATION_ENDPOINT = fcm.googleapis.com/fcm/send

SERVER_KEY = AAAAIbuE2Ko:APA91bH_Y6_y_pm6WT8VhPqSWiWm1shXuNhQs-TZrzrcTCupCeyJrsGudTpS-BO1szI9Ua1T4k80ugT0zliTk-1CbmhO9WPk7exRbWvQeoguNf5LC4GnSdyC28sHDOk5n3taTvVBpgiG

VALSE_DEVICE_TOKEN = fGaJW44Wp0UOtH63n_6g7t:APA91bHY5fUK5Y2872Du4kXTz8o706FGCSNaJtOxV01MnyZhjUYaam9QWbk9UxaaNjny_Yg8VnBlWfL45XxrcnN-X6ypeS0nIA7HuouM5e67AgOXsa0LrPjrNZ39j8-31XlqUqI8ZTZc

