<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitspace-ios</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.144879966378-kjvh4sdkd2okm0gfggvs7bjg9ums6tfk</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>PUSH_NOTIFICATION_ENDPOINT</key>
	<string>$(PUSH_NOTIFICATION_ENDPOINT)</string>
	<key>SERVER_KEY</key>
	<string>$(SERVER_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>VALSE_DEVICE_TOKEN</key>
	<string>$(VALSE_DEVICE_TOKEN)</string>
</dict>
</plist>
